.ed-sR-tabs {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 30px;
    padding: 0px;
}

.ed-sR-tabs .gjs-pn-buttons {
    width: 26px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0;
    flex-direction: column;
}

.ed-sR-tabs .gjs-pn-buttons .gjs-pn-btn {
    margin: 0;
    padding: 0;
    min-width: 26px;
    min-height: 26px;
    margin-top: 3px;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
    overflow: hidden;
}

.ed-sR-tabs .gjs-pn-buttons .gjs-pn-btn:hover {
    color: white;
}

.ed-sR-tabs.slideLock {
    top: unset;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.25)
}

.ed-sR-tabs.slideLock:hover {
    color: white;
}

.slideLock i {
    pointer-events: none;
}